.centering {
	text-align: center;
}

#graph_info {
	width: 800px;

	margin-left: auto;
	margin-right: auto;
}

#graph_info img {
	cursor: pointer;

	width: 50px;
	height: 50px;
}

#graph_info .left-side {
	float: left;
}

#graph_info .right-side {
	float: right;
}

#graph_info .text {
	display: block;

	padding-top: 10px;
	font-size: 18px;
}

#flowstats {
	width: 80%;

	margin-left: auto;
	margin-right: auto;

	background-color: #abcdef;
}

.entry_node {
	width: 300px;

	float: left;

	margin: 20px;

	background-color: #aeebbd;
}

.meta_info .leftside {
	float: left;
	padding: 10px;
	font-weight: bold;
	font-size: large;
}

.meta_info .rightside {
	float: right;
}

.rightside .value {
	font-weight: bold;
}

.match {
	clear: both;

	padding: 5px;
}

.match pre {
	clear: both;

	padding: 5px;
	background-color: #bffcce;
}

#credit {
	clear: both;
}
